AddDefaultCharset utf-8
Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on
RewriteRule ^favicon.ico$ - [F,L]
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule ^([^/].*)$ /index.php/$1 [L]
